.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #666666 !important;
}
.error{
    text-align: center !important;
}

.jumbotron.fortags a.a {background: #6699CC !important;}
.jumbotron.fortags a.c {background: #66BBAA !important;}
.jumbotron.fortags a.e {background: #5599BB !important;}
.jumbotron.fortags a.f {background: #CC6699 !important;}
.jumbotron.fortags a.g {background: #AA66BB !important;}
.jumbotron.fortags a.h {background: #BBAA66 !important;}
.jumbotron.fortags a.l {background: #DD9966 !important;}
.jumbotron.fortags a.t {background: #8877CC !important;}



@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}
