  
-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="https://hidie.net/amsterdam1">Day1：Amsterdam</a><br />
<a href="https://hidie.net/amsterdam2">Day2：Alkmaar → Amsterdam</a><br />
<a href="https://hidie.net/amsterdam3">Day3：Amsterdam（King's Day）</a><br />
<a href="https://hidie.net/amsterdam4a">Day4.1：Hoorn → Medemblik</a><br />
<a href="https://hidie.net/amsterdam4b">Day4.2：IJsselmeer → Enkhuizen → Hoorn → Amsterdam</a><br />
<a href="https://hidie.net/amsterdam5">Day5：Keukenhof → Amsterdam</a><br />
<a href="https://hidie.net/amsterdam6">Day6：Amsterdam</a><br />
<a href="https://hidie.net/amsterdam7">Day7：Amsterdam, AMS → HKG</a><br /><br />
