

-----------------------------------------------<br />
<br />
延伸閱讀：[食の四国ツアー (8D7N)](https://hidie.net/shikoku8d7n/)<br />
<a href="https://hidie.net/shikoku1">Day1：香川（高松）</a><br />
<a href="https://hidie.net/shikoku2">Day2：香川（高松、丸亀、琴平）</a><br />
<a href="https://hidie.net/shikoku3">Day3：香川（高松）↔ 徳島（鳴門、徳島）</a><br />
<a href="https://hidie.net/shikoku4">Day4：香川（高松）→ 愛媛（松山）</a><br />
<a href="https://hidie.net/shikoku5">Day5：愛媛（松山、宇和島）</a><br />
<a href="https://hidie.net/shikoku6">Day6：愛媛（松山）→ 高知（高知）</a><br />
<a href="https://hidie.net/shikoku7">Day7：高知（高知、中村、須崎）</a><br />
<a href="https://hidie.net/shikoku8">Day8：高知（高知）→ 高松（高松空港）</a><br /><br />
