-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="https://hidie.net/turkey1">Day1：HKG → IST</a><br />
<a href="https://hidie.net/turkey2">Day2：İstanbul</a><br />
<a href="https://hidie.net/turkey3">Day3：İstanbul</a><br />
<a href="https://hidie.net/turkey4">Day4：Adalar</a><br />
<a href="https://hidie.net/turkey5">Day5：İstanbul → Cappadocia</a><br />
<a href="https://hidie.net/turkey6">Day6：Cappadocia Balloon Flight、Red Tour</a><br />
<a href="https://hidie.net/turkey7">Day7：Cappadocia Green Tour</a><br />
<a href="https://hidie.net/turkey8">Day8：Cappadocia → İstanbul | IST→ HKG</a><br /><br />
